<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!-- 定义日志输出格式-->
    <property name="log.pattern" value="%date{ISO8601} %-1level [%thread] %logger{56}.%method:%L -%msg%n"/>
    <property name="log.charset" value="UTF-8"/>

    <!--控制台输出 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 用来定义日志的格式 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${log.pattern}</pattern>
            <charset>${log.charset}</charset>
        </encoder>
    </appender>

    <!-- nacos -->
    <logger name="com.alibaba.nacos" level="ERROR">
        <appender-ref ref="stdout"/>
    </logger>

    <!-- logback -->
    <logger name="ch.qos.logback" level="ERROR">
        <appender-ref ref="stdout"/>
    </logger>

    <!-- root将级别为“DEBUG”及大于“DEBUG”的日志信息交给已经配置好的名为“Console”的appender处理，“Console”appender将信息打印到Console -->
    <root level="ERROR">
        <appender-ref ref="stdout"/> <!-- 标识这个appender将会添加到这个logger -->
    </root>
</configuration>
